body{
    background-color: aquamarine;
}
h1, h2{
    background-color: azure;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
.logo{
    font-family: 'Caveat', cursive;
    font-size: 3em;
}
a{
    /* text-decoration: dotted red 2px underline; */
    text-decoration: none;
    background-color: gray;
    border-radius: 5px;
}
p{
    font-size: 24px;
    line-height: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 1.5em;
    text-align: justify;
}
em{
    background-color: blueviolet;
}