body {
  background-color: gray;
  font-size: 24px;
  color: yellow;
}
a {
  color: inherit;
}
.border {
  border: 3px double pink;
}
.main-article {
  font-size: 1.5em;
}
.main-article__heading {
  font-size: 1.5em;
}
.main-article__content {
  font-size: initial;
}
img {
  /* height: 100px  */
  box-sizing: border-box;
  width: 300px;
  border: 3px solid red;
  border-bottom: none;
  border-left-style: dotted;
  padding: 10px;
  margin: 50px;
  background-color: aqua;
}
